@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
  

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  ;
}




